[Desktop Entry]
Name=Bluetooth
Exec=shareplugin
Icon=shareplugin/icon.svg
Terminal=false
Type=Application
X-Ubuntu-Splash-Color=#0082fb
X-Ubuntu-Splash-Image=shareplugin/splash.svg
X-Ubuntu-Touch=true
OnlyShowIn=Old

