[Desktop Entry]
Name=Bluetooth File Transfer
Exec=app
Icon=app/icon.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#0082fb
X-Ubuntu-Splash-Image=app/splash.svg
